@charset "UTF-8";

* {
    font-family: "NanumGothic", "SpoqaHanSans", "Noto Sans SC",
        "APPLE SD Gothic NEO", "sans-serif";
}

body {

    padding-top:30px;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5),
        rgba(143, 211, 244, 0.5));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255, 192, 203, 0.5),
        rgba(255, 255, 255, 0.5))
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(255, 192, 203, 0.5),
        rgba(255, 192, 203, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255, 192, 203, 0.5),
        rgba(255, 255, 255, 1))
}
.profile {
    width: 30px;
    height: 30px;
    object-fit: cover;
}