@charset "UTF-8";

body {
    padding-top: 57px;
}

a:link { /* 방문전 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: #555555;
}

a:visited { /* 방문후 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: #555555;
}

a:hover { /* A 태그에 마우스가 올라간 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: #7777FF;
}

a:active { /* A 태그를 클릭한 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: #7777FF;
}