@charset "UTF-8";
#kspan{
    font-weight: bold;
    font-size: 30px;      
    text-align: center;
    display: block;
}
#keywordbutton{
   background-color: pink;
    color : #F9F9F9;
    font-size: 15px;
    padding: 30px 50px ;
    margin: 150px 50px;
    text-align: center;
    float:left;
    
}
#keywordbutton:hover {
    background-color: #F9F9F9;
     color : pink;
    font-weight: bold;
    font-size: 18px;
}
.container{
      
   clear: both;
   position:sticky;
   top:100px;
    height: 100%;
    width: 30%;
    margin: 0px 0 0 50px auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.keyworddivstyle{
    background-color: #FF1493;
    color:white;
    border:thin;
    height: 70px;
    text-align: center;
    width: 125px;
     margin: 30px auto;
      border-radius: 30px;
}
.keywordstyle{
    border-radius:18%;
    padding: 0 20px;
    background-color: #ff33ff;
    color : #F9F9F9;
    margin: 15px 3px 0 ;
    font-size: 17px;
    float: left;
}
.button1{
    background-color: pink;
    color : #F9F9F9;
    font-size: 15px;
    padding: 10px 15px ;
    margin: 10px 5px;
    list-style: none;
}
.button1:hover {
    background-color: #F9F9F9;
     color : pink;
    font-weight: bold;
    font-size: 18px;
}
.menu_line{
    text-align: center; 
    width: 100%;
    float: left;
    margin:0 auto;
}
.table tr:hover{
    background-color: pink;
    color:white;
}
.button{
    background-color: pink;
    border-radius: 8px;
    color : #F9F9F9;
    border: none;
    font-size: 15px;
    padding: 10px 15px ;
    margin: 10px 5px;
}
.button:hover {
    background-color: #F9F9F9;
     color : pink;
    font-weight: bold;
    font-size: 18px;
}
.msg_warning{
color: red;
font-weight: bold;
text-shadow: 30%;
size: 50px;
}
body{
            width: 80%;
            margin:0 auto;
}
::-webkit-scrollbar {
display: none;
}